.ipynb_checkpoints

src/.ipynb_checkpoints

Images/data_set/Melanoma/*
Images/data_set/NotMelanoma/*

Images/grayscale/Melanoma/*
Images/grayscale/NotMelanoma/*

Images/AUG_0_53.jpeg
Images/.ipynb_checkpoints